{% if site.data.settings.experience %}
<!-- experience -->
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ site.data.settings.experience-title }}</h2>
      </div>
      <table class="el-table">
        <tbody>
          {% for experience in site.data.settings.experience %}
          <tr class="el-table-row">
            <td class="el-table-cell-1">{{ experience.name }}</td>
            <td class="el-table-cell-2">{{ experience.date }}</td>
          </tr>
          {% endfor %}  
          <!-- <tr class="el-table-row">
            <td class="el-table-cell-1">Participate in the 2022 WANXIANG Hackathon</td>
            <td class="el-table-cell-2">Q2 of 2022</td>
          </tr>
          <tr class="el-table-row">
            <td class="el-table-cell-1">Participate in the ETH SHANGHAI Hackathon online</td>
            <td class="el-table-cell-2">Q2 of 2022</td>
          </tr>
          <tr class="el-table-row">
            <td class="el-table-cell-1">Participate in the 2022 Chainlink Hackathon online</td>
            <td class="el-table-cell-2">Q2 of 2022</td>
          </tr>
          <tr class="el-table-row">
            <td class="el-table-cell-1">Modelin version 0.1 was released</td>
            <td class="el-table-cell-2">Q1 of 2022</td>
          </tr>
          <tr class="el-table-row">
            <td class="el-table-cell-1">Modelin was developed</td>
            <td class="el-table-cell-2">Q4 of 2021</td>
          </tr>
          <tr id="6th" class="el-table-row" style="display: none;">
            <td class="el-table-cell-1">The Model Lab was eatablished</td>
            <td class="el-table-cell-2">Q4 of 2021</td>
          </tr>
          <tr class="el-table-row">
            <td class="el-table-cell-1"></td>
            <td class="el-table-cell-2" onclick="rows=document.getElementById('6th');rows.style.display = rows.style.display == 'none' ? 'table-row' : 'none';">more</td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</section>
<!-- ./experience -->
{% endif %}