<!-- {% if site.data.settings.services %} -->
<!-- services -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title mb-5">{{ site.data.settings.services-title }}</h2>
        <!-- <p class="paragraph-lg font-secondary text-dark" style="width:50%; text-align:left;">Research areas</p> -->
        <!-- <p class="paragraph-lg font-secondary" style="font-size: 16px; text-align:left; background-color: #f8f7f3;">Our work spans the entire innovation pipeline, from the earliest research ideation to deploying end-user products. Our mission urges us to consider problems across multiple subject areas, both applied and theoretical. We pursue these problems in the open and share our results in recorded talks and published papers.</p> -->
      </div>
      <!-- {% for service in site.data.settings.services %} -->
      <div class="col-md-4 mb-4 mb-md-0" style="border-style: solid; border-width:1px; margin-left: 10px;">
        <div class="card hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <!-- <img class="icon mb-5 d-inline-block" src="../assets/images/icons/dsl-icon.svg" style="width: 10%;"></i> -->
            <h4 class="mb-4">TMI: tokenomics made easy for web3 applications</h4>
            <p>ACM MODELS 2022</p>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4 mb-4 mb-md-0" style="border-style: solid; border-width:1px; margin-left: 10px;">
        <div class="card hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <img class="icon mb-5 d-inline-block" src="../assets/images/icons/crypto-icon.svg" style="width: 10%;"></i>
            <h4 class="mb-4">Cryptography</h4>
            <p>Modern cryptography plays an integral role in every aspect of online and electronic security, including protecting privacy and providing evidences.</p>
          </div>
        </div>
      </div> -->
      <!-- {% endfor %} -->
    </div>
  </div>
</section>
<!-- /services -->
{% endif %}